<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}BURGER TIME!{{else}}Let's eat!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>