<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}EAT!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">
		{{#if eaten}}Throw it away!{{else}}Poop!{{/if}}
	</button>
</li>